.container {
    height: 100%;
    width: 100%;
    font-family: 'Lato', sans-serif;
    font-weight: 100;
    /*color: #bfbfbf;*/
    color: black;
    background-color: #F2F2F2;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    /*overflow: hidden;*/
    overflow: scroll;
    padding-left: 0;
    padding-right: 0;
    /*border: 1px solid green;*/
}

div {
    /* if red border in .container.div only 3 main divs are highlighted*/
    /*border: 1px solid red;*/
}

/*to prevent elements from overflowing their containers*/
img,
embed,
object,
video {
    max-width: 100%;
}

/*so buttons aren't tiny and impossible to hit*/
a,
button {
    min-width: 48px;
    min-height: 48px;
}

a:link {
    text-decoration: none;
    /*color: #bfbfbf;*/
    /*color: #011638;*/
    color: black;
}

a:visited {
    color: black;
    /*color: #bfbfbf;*/
}

a:hover {
    color: #D68FD6;
}

.fa {
    color: #bfbfbf;
}

.fa:hover {
    color: rgba(191, 191, 191, 0.95);
}

.fa:active {
    transform: translateY(4px);
}

.links-bar {
    height: 75px;
    margin: auto;
    /*margin-bottom: 20px;*/
    padding-top: 10px;
    position: relative;
    text-align: center;
    width: 100%;
    /*border: 1px solid red;*/
}

.social-icon {
    position: relative;
    display: inline-block;
    height: 30px;
    width: 30px;
    border-radius: 15px;
    font-size: 24px;
    line-height: 25px;
    text-align: center;
    vertical-align: middle;
    padding: 2px 0 2px 2px;
    margin: 10px;
    /*border: 1px solid red;*/
}

.social-icon:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    color: rgba(255, 255, 255, 0.95);
}

.social-icon:active {
    top: 7px;
    /*transition: 0.5s;*/
}

.fa.fa-github {
    font-size: 30px;
}

.center-column {
    margin: 20px auto;
    padding-bottom: 50px;
    height: 100%;
    /*border: 1px solid blue;*/
    width: 80%;
}

.header {
    text-align: right;
    /*border: 1px solid red;*/
}

.header .logo {
    height: 100px;
    width: 100px;
    margin-left: 0;
    /*border: 1px solid yellow;*/
}

.header .title {
    font-size: 34px;
    font-weight: 100;
    margin: 0 0 0 auto;
    position: relative;
    /*border: 1px solid purple;*/
}

.italic {
    font-style: italic;
}

.hr {
    color: #bfbfbf;
}

h3 {
    margin: 0;
    line-height: 35px;
}


.row {
    width: 100%;
    margin: 0;
    display: flex;
    flex-wrap:wrap;
    box-sizing: border-box;
}

.col {
    box-sizing: border-box;
}

.col-1 {
    /* 1/12th of page*/
    /*1 column wide*/
    width: 8%;
}

.col-2 {
    width: 16%;
}

.col-md-12 {
    width: 100%;
    display: inline-block;
}

.main {
    /*border: 1px solid cyan;*/
    /*background-color: #EAEAEA;*/

}

.featured-work-text {
    /*margin-left: -11px;*/
    font-weight: 100;
    text-align: left;
    color: black;
    /*border: 1px solid lime;*/
}

.featured-work-container {
    position: relative;
    overflow: hidden;
    max-width: 1600px;
    /*border: 1px solid yellow;*/
    text-align: center;

    display: block;
    margin-left: 0;
    margin-top: 12px;
    padding-bottom: 40px;
    font-size: 0;
}

.borderGray {
    border: 1px solid #d0d0d0;
    border-radius: 3px;
    z-index: 8;
    box-sizing: border-box;
    height: 250px;
    margin: auto;
    padding: 20px;
    transition: all 200ms ease-out;
    -webkit-transition: all 200ms ease-out;
    cursor: pointer;
    background-color: #EAEAEA;
    -webkit-transform: translateZ(0);
    overflow: hidden;
    /*border: 1px solid red;*/
}

.borderGray:hover {
    background-color: white;
    transition: 0.5s;
}

.featured-work {
    height: 130px;
    width: 200px;
    overflow: hidden;
    /*border: 1px solid cyan;*/
    margin: auto;
}

.featured-work-img {
    height: 100%;
    width: 100%;
    opacity: 0.6;
    overflow: hidden;
    transition: height 200ms ease-out;
    /*border: 1px solid black;*/
    border: 1px solid #d0d0d0;
    border-radius: 3px;
}

.featured-work-img:hover {
    transform: scale(1.04);
    transition: 0.7s;
    overflow: hidden;
    /*border: 1px solid yellow;*/
}

.description {
    /*text-weight: thin;*/
    width: 100%;
    /*background: #111;*/
    /*background: rgba(15,15,15,0.78);*/
    bottom: -2px;
    margin-top: 40px;
    /*color: #fff;*/
    border: 1px solid #d0d0d0;
    /*border: 1px solid red;*/
}

.description:hover {
    transform: scale(1.04);
    overflow: hidden;
    /*border: 1px solid #97F9F9;*/
}


a.inner p {
    -webkit-animation: footerSlide 400ms 0.1s ease-out backwards;
    animation: footerSlide 400ms 0.1s ease-out backwards;
    -webkit-transform: translateZ(0);
    position: absolute;
    max-width: 100%;
    background: #111;
    background: rgba(15,15,15,0.78);
    bottom: -2px;
    margin-bottom: 10px;
    color: #fff;
}

.modal-img {
    height: 30%;
    width: 100%;
    /*height: 130px;*/
    /*width: 200px;*/
    opacity: 0.7;
    overflow: hidden;
    transition: height 200ms ease-out;
}

.feat-work-sm {
    display: none;
}

.right-sidebar {
    padding-top: 10px;
    /*margin-right: 0;*/
    position: relative;
    text-align: center;
    height: 40px;
    width: 100%;
    margin: auto;
    /*border: 1px solid red;*/
}

.modal-img-container {
    position: relative;
    overflow: hidden;
    margin-top: 10px;
}


@media screen and (max-width: 970px) {

    .filler {
        display: none;
    }
}
/*iPad width 768 px*/
/*iPhone6+ = 414 x 736 */
@media screen and (max-width: 480px){
    .links-bar {
        /*width: 100%;*/
        height: 100%;
        /*margin-bottom: 20px;*/
    }

    .social-icon {
        /*display: inline-block;*/
        /*width: 18%;*/
        /*height: 18%;*/
        margin: auto;
    }

    .social-icon-container {
        height: 20%;
    }

    .social-icon:hover {
        color: white;
    }

    .header {
        text-align: center;
        /*margin: auto;*/
        margin-top: 50px;
        margin-bottom: 25px;
        display: inline-block;
        /*border: 1px solid red;*/
    }
    .header .logo {
        margin: auto;
        /*margin-left: 0;*/
        height: 95px;
        width: 95px;
        margin-top: -20px;
        /*border: 1px solid lime;*/
        /*margin-bottom: 10px;*/
    }

    .header .title {
        font-size: 1.75em;
        /*margin: auto;*/
        margin-top: 10px;
    }

    .featured-work-text {
        text-align: center;
        /*color: #bfbfbf;*/
        font-weight: 100;
    }

    .featured-work-img {
        width: 70%;
        height: 150px;
        margin: 20px auto 20px auto;
        border-radius: 5px;
        overflow: hidden;
    }

    figcaption {
        display: none;
    }

    .feat-work-lg {
        display: none;
    }

    .feat-work-sm {
        position: relative;
        display: inline-block;
        margin: auto;
        text-align: center;
    }

    .feat-work-sm h5:hover {
        color: #D68FD6;
    }
    .right-sidebar {
        margin-top: 50px;
    }

    .col-4 {
        /*display: block:*/
        width: 100%;
        /*display: flex; flex-wrap:wrap;*/
    }

    hr {
        display: none;
    }
}

